---
import { Content, Title } from "@/components/contact"
import ContactLayout from "@/layouts/contact-layout.astro"
---

<ContactLayout>
	<Title>Contact/联系方式</Title>
	<Content>
		<p>电子邮件：xiufengcheng@ccnu.edu.cn</p>
		<p>QQ：32472889</p>
		<p>电话：15071337806</p>
		<p>地址：湖北省武汉市华中师范大学南湖校区南湖综合楼10038室</p>
	</Content>
</ContactLayout>
