---
import MainLayout from "@/layouts/main-layout.astro"
---

<MainLayout slug="about" title="个人介绍｜程秀峰">
	<main class="px-30 mx-auto flex w-[1064px] grow flex-col justify-center gap-4">
		<slot />
	</main>
</MainLayout>
