---
import MainLayout from "@/layouts/main-layout.astro"

enum Content {
	book = "书籍",
	course = "课程",
	paper = "论文",
	project = "项目",
}

interface Props {
	content: "book" | "course" | "paper" | "project"
}

const { content } = Astro.props
---

<MainLayout slug={content} title={`${Content[content]}｜程秀峰`}>
	<main class="mx-auto mt-2.5 w-[1064px] grow">
		<slot />
	</main>
</MainLayout>
